<%= simple_form_for(resource, :remote => true, :as => resource_name, :url => registration_path(resource_name), :html => {:id => 'form_user_edit', :method => :put }) do |f| %>
  <div class="modal-header">
    <a class="close">x</a>
    <h3>Settings</h3>
  </div>
  <div class="modal-body">
    <%= f.error_notification %>
    <div class="inputs">
      <%= f.input :email, :required => true, :autofocus => true %>

      <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
      <%= f.input :password_confirmation, :required => false %>

      <hr />

      <%= f.input :current_password, :hint => 'we need your current password to confirm your changes', :required => true %>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, "Save", class: 'btn-primary' %>
  </div>
<% end %>
