<%= simple_form_for(resource, :remote => true, :as => resource_name, :url => registration_path(resource_name), :html => {:id => 'form_sign_up'}, :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f| %>
  <div class="modal-header">
    <a class="close">×</a>
    <h3>Sign up</h3>
  </div>
  <div class="modal-body">
    <div class="inputs">
      <%= f.input :name, :required => true, :autofocus => true %>
      <%= f.input :institution %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
    </div>

    <h4>Submission Usage Policy</h4>
    <%= text_area_tag 'agreement_text', nil, :rows => 5, :style => "width:75%;margin:10px" %>

    <div class="control-group" style="margin:0 10px">
      <%= f.check_box :usage_agreement, :required => true %> I agree with the Submission Usage Policy
    </div>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, "Sign up", class: 'btn-primary' %>
    <%= render "links" %>
  </div>
<% end %>
