<%= simple_form_for(resource, :remote => true, :as => resource_name, :url => registration_path(resource_name), :html => {:id => 'form_sign_up'}, :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f| %>
  <div class="modal-header">
    <a class="close">×</a>
    <h3>Sign up</h3>
  </div>
  <div class="modal-body">
    <div class="inputs">
      <%= f.input :name, :required => true, :autofocus => true %>
      <%= f.input :institution %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
      <%= f.check_box :usage_agreement, :required => true %> I agree to the <a href="http://www.unep-wcmc.org/general-data-licence-excluding-wdpa_559.html" target="_blank">Terms and Conditions of use</a>
      <% if resource.errors["usage_agreement"].length > 0 %><span class="help-inline alert-error">You must agree to the Terms and Conditions.</span><% end %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, "Sign up", class: 'btn-primary' %>
    <%= render "links" %>
  </div>
<% end %>
