<h1>The admin side is here to serve you</h1>
<p>Behold of amazing options:</p>
<ul>
  <li><%= link_to "Get user edits (.csv)", admin_download_user_edits_path %></li>
</ul>

<p>There were <strong><%= pluralize(Layer.count, 'user edit') %></strong> by <strong><%= pluralize(@layers.length, 'diferent user') %></strong>.</p>

<h2>Breakdown</h2>
<ul>
  <% @layers.each do |layer| %>
    <li><%= layer.email %> did <strong><%= pluralize(Layer.where(:email => layer.email).count, 'edit') %></strong></li>
  <% end %>
</ul>
