<h2>Community layer files</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>File</th>
      <th>Generated at</th>
      <th>Finished</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @layer_downloads.each do |layer_download| %>
      <tr>
        <td><%= layer_download.name %></td>
        <td><%= layer_download.generated_at %></td>
        <td><%= layer_download.finished %></td>
        <td><%= link_to 'Generate', admin_generate_path(layer: layer_download) %></td>
        <td><%= layer_download.finished? ? link_to('Download', admin_download_path(layer: layer_download)) : 'Download' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Individual user layers</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Edits</th>
      <th>Mangrove</th>
      <th>Coral</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.layers.count %></td>
        <td><%= link_to 'Generate', admin_generate_path(user: user) %></td>
        <td><%= user.finished? ? link_to('Download', admin_download_path(user: user)) : 'Download' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
