<div class="page-header">
  <h1>Community layers</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @layer_downloads.each do |layer_download| %>
      <tr>
        <td><%= layer_download.name %></td>
        <td class='btn-td-gen'>
          <%= link_to 'Generate current', admin_generate_path(layer: layer_download), :class => 'btn' %>
        </td>
        <td class='btn-td'>
          <% if layer_download.generated_at.present? %> 
            <%= layer_download.finished? ? link_to("Download - #{layer_download.generated_at.strftime('%d/%m/%Y')}", admin_download_path(layer: layer_download), :class => 'btn btn-primary') : content_tag(:span, 'Generating download..', :class => 'btn btn-primary disabled') %>
          <% else %> 
            <%= content_tag(:span, 'Not yet generated', :class => 'btn btn-primary disabled') %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <%= link_to 'Download users information', admin_download_users_path, :class => 'btn' %>
  <h1>Individual user layers</h1>
</div>

<input type="text" id="users-search" placeholder="Search users" />

<table id="users" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Edits</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.layers.count %></td>
        <td class='btn-td-gen'>
          <%= link_to 'Generate current', admin_generate_path(user: user), :class => 'btn' %>
        </td>
        <td class='btn-td'>
          <% if user.generated_at.present? %> 
            <%= user.finished? ? link_to("Download - #{user.generated_at.strftime('%d/%m/%Y')}", admin_download_path(user: user), :class => 'btn btn-primary') : content_tag(:span, 'Generating download..', :class => 'btn btn-primary disabled') %>
          <% else %> 
            <%= content_tag(:span, 'Not yet generated', :class => 'btn btn-primary disabled') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
