<div class="page-header">
  <h1>Island user geo edits</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @user_geo_edit_downloads.each do |user_geo_edit_download| %>
      <tr>
        <td><%= user_geo_edit_download.name %></td>
        <td class='btn-td-gen'>
          <%= link_to 'Generate current', admin_generate_path(user_geo_edit_download: user_geo_edit_download), :class => 'btn' %>
        </td>
        <td class='btn-td'>
          <% if user_geo_edit_download.generated_at.present? %> 
            <%= user_geo_edit_download.finished? ? link_to("Download - #{user_geo_edit_download.generated_at.strftime('%d/%m/%Y')}", admin_download_path(user_geo_edit_download: user_geo_edit_download), :class => 'btn btn-primary') : content_tag(:span, 'Generating download...', :class => 'btn btn-primary disabled') %>
          <% else %> 
            <%= content_tag(:span, 'Not yet generated', :class => 'btn btn-primary disabled') %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <%= link_to 'Download users information', admin_download_users_path, :class => 'btn' %>
  <h1>Individual user geo edits</h1>
</div>

<input type="text" id="users-search" placeholder="Search users" />

<table id="users" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Institution</th>
      <th>Edits</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.institution %></td>
        <td><%= user.user_geo_edits.count %></td>
        <td class='btn-td-gen'>
          <%= link_to 'Generate current', admin_generate_path(user: user), :class => 'btn' %>
        </td>
        <td class='btn-td'>
          <% if user.generated_at.present? %> 
            <%= user.finished? ? link_to("Download - #{user.generated_at.strftime('%d/%m/%Y')}", admin_download_path(user: user), :class => 'btn btn-primary') : content_tag(:span, 'Generating download..', :class => 'btn btn-primary disabled') %>
          <% else %>
            <%= content_tag(:span, 'Not yet generated', :class => 'btn btn-primary disabled') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <h3>Landing Modal Text</h3>
</div>
<%= simple_form_for(@modal_text) do |f| %>
  <%= f.input :text, :as => :text, :input_html => { :style => "width: 500px", :rows => 10 } %>
  <%= f.button :submit %>
<% end %>
