<div class="page-header">
  <h1>Community layer files</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Generated at</th>
      <th>Finished</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @layer_downloads.each do |layer_download| %>
      <tr>
        <td><%= layer_download.name %></td>
        <td><%= layer_download.generated_at %></td>
        <td><%= layer_download.finished %></td>
        <td><%= link_to 'Generate', admin_generate_path(layer: layer_download) %></td>
        <td><%= layer_download.finished? ? link_to('Download', admin_download_path(layer: layer_download)) : 'Download' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <%= link_to 'Download users information', admin_download_users_path, :class => 'btn' %>
  <h1>Individual user layers</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Edits</th>
      <th>Generated at</th>
      <th>Finished</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.layers.count %></td>
        <td><%= user.generated_at %></td>
        <td><%= user.finished %></td>
        <td><%= link_to 'Generate', admin_generate_path(user: user) %></td>
        <td><%= user.finished? ? link_to('Download', admin_download_path(user: user)) : 'Download' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
