<%= simple_form_for(resource, :as => resource_name, :remote => true, :url => '/users/password.json', :method => :put, :html => { :id => 'form_password_edit' }) do |f| %>
  <div class="modal-header">
    <a class="close">x</a>
    <h3>Change Your Password</h3>
  </div>
  <div class="modal-body">
    <%= f.error_notification %>

    <%= f.input :reset_password_token, :as => :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="inputs">
      <%= f.input :password, :label => "New password", :required => true %>
      <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true %>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, "Change my password" %>
  </div>
<% end %>
