  <% downloads.each do |d| %>
    <li>
      <%= d.name %> at <span class="creation-date"><%= d.created_at.strftime("%H:%M") %> on <%= d.created_at.strftime("%w %b") %></span> 
      <% if d.status=='active' %>
        <span style="float: right"><%= image_tag "spinner.gif" %></span>
      <% else %>
        <a href="<%= get_location(d.id) %>" class="btn">Download</a>
      <% end %>
    </li>
  <% end %>
