<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'Global Islands Database', root_path, class: 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <a id='about-btn' href="#">About</a>
          </li>

          <%= render 'navbar_user' %>
        </ul>
        <div class="pull-right">
          <form class="navbar-search" action="" autocomplete="off">
            <input id="search" type="text" class="search-query span3" placeholder="Search" autocomplete="off">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main-content">
  <div id="map-content">
    <div id="map_canvas"></div>

    <a href="http://www.unep-wcmc.org" target="_blank" id="logo"></a>

    <a href="#" id="toggle-map-layers" class="active">Hide Map Layers</a>

    <!-- Modals -->
    <div class="modal" id="landingModal">
      <div class="modal-middle">
        <h3>Global Islands Database</h3>
        <p>
          Welcome to the Global Island Database! This innovative online
          editing and validation tool allows you to contribute your
          expertise and local knowledge to the global island community.
          Your input will help to improve our understanding of the
          spatial extent and interactions between islands, their unique
          flora and fauna and the challenges they face from threats
          including climate change and invasive species. This tool forms
          part of our work under the Better Data, Better Decisions
          Initiative.
        </p>

        <p>
          After registering, you can interact with the Google ocean
          basemap by panning, zooming and selecting islands. You can
          then review, edit, and update the spatial and attribute data
          associated with the island, thereby improving its resolution
          and accuracy at local scales. 
        </p>

        <p>
          For a short tutorial on using the Global Island Database, have a look here.
        </p>

        <p>
          For any feedback or questions, please email <a href="mailto:marine@unep-wcmc.org">marine@unep-wcmc.org</a>
        </p>

        <h4>About the dataset</h4>
        <p>
          The Global Island Database, a global vector
          layer of islands, is housed and maintained by UNEP World
          Conservation Monitoring Centre, Cambridge, UK
          (www.unep-wcmc.org). The Global Islands Database is originally
          based on Open Street Map (using a 1:75,000 Landsat product from
          the US National Geospatial - Intelligence Agency) and has been
          substantially refined through the work of a number of
          organisations (e.g. UNEP-WCMC, Island Conservation, BirdLife
          International, RSPB, IUCN/SSC ISSG, PIER, Global Island
          Network). The Global Island Database is an intermediate product
          that is continuously being refined by the user community.
        </p>

        <h5>Suggested citation</h5>
        <p>
          UNEP-WCMC, 2013. Global Islands Database.
          UNEP World Conservation Monitoring Centre. Cambridge, UK,
          www.unep-wcmc.org.
        </p>

        <h5>Suggested citation for a web mapping application</h5>
        <p>
          The underlying island boundary data is a <em>[insert date from
          when the version was obtained]</em> version of the Global Islands
          Database, a product of UNEP-WCMC. For more information, please
          visit www.unep-wcmc.org.
        </p>
      </div>
      <div class="modal-right">
        <a href="#" data-dismiss="modal" class="start">
          Start
        </a>
        <p class="footer">Copyright UNEP-WCMC 2012</p>
      </div>
    </div>

    <div class="modal" id="download-modal">
      <%= render "download/download_modal" %>
    </div>

    <div class="modal hide" id="authModal"></div>

    <div style="display: none;"><%= render 'form' %></div>
    <div style="display: none;"><%= render 'reallocate_form' %></div>
  </div>

  <div id="right-panel">
    <div id='right-main'>
    </div>

    <footer>
      Copyright UNEP-WCMC <%= Date.today.year %>
      <%= image_tag 'unep-wcmc-logo.png' %>
    </footer>
  </div>
</div>
