<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'Global Islands Database', root_path, class: 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <a id='about-btn' href="#">About</a>
          </li>
          <% if user_signed_in? %>
          <li>
              <a id='show-downloads-btn' href="#">Download data</a>
          </li>
          <% end %>

          <%= render 'navbar_user' %>
        </ul>
        <div class="pull-right">
          <form class="navbar-search" action="" autocomplete="off">
            <input id="search" type="text" class="search-query span3" placeholder="Search" autocomplete="off">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main-content">
  <div id="map-content">
    <div id="map_canvas"></div>

    <a href="http://www.unep-wcmc.org" target="_blank" id="logo"></a>
    
    <a href="#" id="toggle-map-layers" class="active">Hide Map Layers</a>

    <!-- Modals -->
    <div class="modal" id="landingModal">
      <div class="modal-middle">
        <h3>Global Islands Database</h3>
        <p><%= RedCloth.new(@modal_text.text.to_s).to_html.html_safe %></p>
      </div>
      <div class="modal-right">
        <a class="search-site" href="#" data-dismiss="modal">
          <span>Click the map or search to select a site</span>
        </a>
        <a class="add-island" href="#" data-dismiss="modal">
          <span>Add new island</span>
        </a>
        <a class="let-me-help" href="#" data-dismiss="modal">
          <span>Take me somewhere that needs my help</span>
        </a>
        <p class="footer">Copyright UNEP-WCMC 2012</p>
      </div>
    </div>

    <div class="modal" id="download-modal">
      <h3>Generate a new download</h3>
      <div id='download-option-strip'>
        <%= link_to "All Islands", generate_download_path(:range => 'all'), :class => 'download-btn btn btn-primary' %>
        <%= link_to "Islands I've Edited", generate_download_path(:range => 'user_edits'), :class => 'download-btn btn btn-primary' %>
        <a href='#' class='download-btn btn btn-primary'><span>Every Island Currently Visible</span></a>
      </div>
      <div id='user-download-feedback' class="alert alert-success"></div>

      <h3>Download existing datasets</h3>
      <ul id='user-downloads'>
        <li>Loading...</li>
      </ul>
    </div>

    <div class="modal hide" id="authModal"></div>

    <div style="display: none;"><%= render 'form' %></div>
    <div style="display: none;"><%= render 'reallocate_form' %></div>
  </div>

  <div id="right-panel">
    <div id='right-main' class='disabled'>
      <div id='header-strip'>
        <h2>
          No island selected
        </h2>
        <span><span class='up'>ID</span> ---</span>
      </div>
      <div id='tabbed-panel'>
        <ul id='tabs'>
          <li class='active'>
            <%= image_tag 'attributes-icon.png' %>
            <span>Attributes</span>
          </li>
          <li>
            <%= image_tag 'geom-icon.png' %>
            <span>Geometry</span>
          </li>
        </ul>
        <div id='tabbed-content'>
          <div id='island-attributes'>
            <div class='field'>
              <label for="name"> Name</label>
              <input type="text" name="name" id="name" value="$NAME" >
            </div>
            <div class='field'>
              <label for="local-name"> Local name</label>
              <input type="text" name="local-name" id="local-name" value="$LOCAL-NAME" >
            </div>

            <div class='field full-width'>
              <input type="text" name="local-name" id="local-name" value="$SOURCE" >
            </div>

            <div class="actions">
              <input type="submit" class='primary' value="Update Island" />
              <input type="submit" value="Clear" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='stats'>
      <span>
        <h4>12%</h4>
        <p>validated</p>
      </span>
      <span class='right'>
        <h4>9,001</h4>
        <p>Total # islands</p>
      </span>
    </div>
    <footer>
      Copyright UNEP-WCMC <%= Date.today.year %>
      <%= image_tag 'unep-wcmc-logo.png' %>
    </footer>
  </div>
</div>
