<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'Global Islands Database', root_path, class: 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active">
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>
          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
        <div class="pull-right">
          <form class="navbar-search" action="">
            <input id="search" type="text" class="search-query span3" placeholder="Search">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main-content">
  <div id="map-content">
    <div id="map_canvas"></div>

    <a href="http://www.unep-wcmc.org" target="_blank" id="logo"></a>
    
    <a href="#" id="toggle-map-layers" class="active">Hide Map Layers</a>

    <div id="main_menu">
      <div class="actions well hide">
        <div id='tools'>
          <a href="#" class="validate btn btn-success"><i class="icon-ok icon-white"></i><br/>Validate</a>
          <div class="btn-group">
            <a href="#" class="add-area btn btn-primary"><i class="icon-plus icon-white"></i><br/>Add New</a>
            <a href="#" class="delete-area btn btn-danger"><i class="icon-trash icon-white"></i><br/>Delete</a>
          </div>
        </div>
        <div class="submit-or-erase btn-group hide">
          <div class="control-group">
            <div class="controls">
              <select class="knowledge">
                <option value="">Please select evidence type</option>
                <option value="imagery">Underlying imagery in browser</option>
                <option value="local data">Local data</option>
                <option value="local knowledge">Local knowledge</option>
              </select>
            </div>
          </div>
          <div class="buttons">
            <a href="#" class="submit-polygon btn btn-inverse disabled"><i class="icon-check icon-white"></i> Submit</a>
            <a href="#" class="erase-polygon btn btn-danger disabled"><i class="icon-repeat icon-white"></i> Erase</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modals -->
    <div class="modal" id="landingModal">
      <div class="modal-middle">
        <h3>Global Islands Database</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies porta arcu, eu fringilla lacus convallis vel. Nam quis diam eget neque condimentum gravida sit amet eu felis. Nullam metus massa, porta ac elementum at, ultricies vitae mauris. Nullam dictum rutrum mollis. Donec ante nulla, ullamcorper et varius non, eleifend id risus. Mauris ut auctor nunc. Vestibulum tincidunt pretium interdum. Aliquam magna est, tincidunt et euismod eget, gravida eget tellus. Vivamus vitae purus vulputate quam pretium placerat. Nullam lectus risus, semper faucibus rutrum eu, gravida at eros. Integer congue egestas mauris, venenatis fermentum diam scelerisque sed. Proin turpis dolor, elementum sit amet ullamcorper non, ornare non sapien.</p>
      </div>
      <div class="modal-right">
        <a class="search-site" href="#" data-dismiss="modal">
          <span>Click the map or search to select a site</span>
        </a>
        <a class="add-island" href="#" data-dismiss="modal">
          <span>Add new island</span>
        </a>
        <a class="let-me-help" href="#" data-dismiss="modal">
          <span>Take me somewhere that needs my help</span>
        </a>
        <p class="footer">Copyright UNEP-WCMC 2012</p>
      </div>
    </div>

    <div class="modal hide" id="authModal"></div>

    <div style="display: none;"><%= render 'form' %></div>
  </div>

  <div id="right-panel">
    <div id='right-main'>
      <div id='header-strip'>
        <h2>
          No island selected
          <span><span class='up'>ID</span> -</span>
        </h2>
      </div>
      <div id='tabbed-panel'>
        <ul id='tabs'>
          <li class='active'>
            <%= image_tag 'attributes-icon.png' %>
            <span>Attributes</span>
          </li>
          <li>
            <%= image_tag 'geom-icon.png' %>
            <span>Geometry</span>
          </li>
        </ul>
        <div id='tabbed-content'>
          <div id='island-attributes'>
            <div class='field'>
              <label for="name"> Name</label>
              <input type="text" name="name" id="name" value="$NAME" >
            </div>
            <div class='field'>
              <label for="local-name"> Local name</label>
              <input type="text" name="local-name" id="local-name" value="$LOCAL-NAME" >
            </div>

            <div class='field full-width'>
              <input type="text" name="local-name" id="local-name" value="$SOURCE" >
            </div>

            <div class="actions">
              <input type="submit" class='primary' value="Update Island" />
              <input type="submit" value="Clear" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='stats'>
      <span>
        <h4>12%</h4>
        <p>validated</p>
      </span>
      <span class='right'>
        <h4>9,001</h4>
        <p>Total # islands</p>
      </span>
    </div>
    <footer>
      Copyright UNEP-WCMC <%= Date.today.year %>
      <%= image_tag 'unep-wcmc-logo.png' %>
    </footer>
  </div>
</div>
