<%= simple_form_for(@layer, :remote => true, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f| %>
  <div class="modal-body">
    <div class="message">
      <p>
        Please enter your email address so we can attribute your contribution
      </p>
    </div>

    <%= f.input :email %>

    <%= f.input :polygon, :as => "hidden" %>
    <%= f.input :name, :as => "hidden" %>
    <%= f.input :action, :as => "hidden" %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close-modal" data-dismiss="modal">Close</a>
    <%= f.button :submit, 'Submit', :class => "submit-data btn btn-primary", :data => {:"loading-text" => "Submitting..."} %>
  </div>
<% end %>
