<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mangrove and Coral Validation Tool</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= javascript_tag "window.ENVIRONMENT = '#{Rails.env}';" %>
</body>
</html>
